.App{
  background-color: rgb(193, 230, 179);
}
.navbar {
    display: flex;
    justify-content: flex-end;
    
  }

  div.logButton {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(2, 181, 2);
    padding: 10px;
  }
  
  ul {
    list-style: none;
  }

  div h1{
    text-align: center;
  }

  Button {
    text-align: center;
  }

  .plans {
    margin: auto;
 
  padding: 5px;
  }